.additional-products {
  padding-top: 43px;
  padding-bottom: 34px;

  @media ($width_tablet) {
    padding-top: 88px;
    padding-bottom: 75px;
  }

  @media ($width_desktop) {
    padding-top: 97px;
    padding-bottom: 87px;
  }
}

.additional-products__wrap1 {
  position: relative;
  width: 100%;
  border-top: 3px solid $color_4;
}

.additional-products__wrap2 {
  @media ($width_desktop) {
    width: 1220px;
    @include center-block;
    display: flex;
    padding-top: 91px;
  }
}

.additional-products__wrap3 {
  padding-top: 41px;
  margin-bottom: 39px;

  @media ($width_tablet) {
    padding-top: 90px;
    margin-bottom: 70px;
  }

  @media ($width_desktop) {
    width: 895px;
    margin-bottom: 0;
    margin-right: auto;
    padding-top: 0;
  }
}

.additional-products__center {
  @media ($width_desktop) {
    width: 1300px;
    position: absolute;
    top: 1px;
    left: 50%;
    margin-left: -650px;
  }
}

.additional-products__item {
  border-top: 1px solid $color_8;
  padding-top: 14px;
  padding-bottom: 17px;

  @media ($width_tablet) {
    border: 1px solid $color_7;
    border-bottom: none;
    padding: 25px 36px 27px 38px;
  }

  @media ($width_desktop) {
    display: flex;
    border-left: none;
    border-right: none;
    padding: 13px 0 18px 2px;
  }

  &:last-child {
    border-bottom: 1px solid $color_8;
  }
}

.additional-products__wrap4 {

  @media ($width_tablet) {
    display: flex;
    margin-bottom: 22px;
  }

  @media ($width_desktop) {
    width: 612px;
    margin-top: 11px;
    margin-right: auto;
    margin-bottom: 0;
  }
}

.additional-products__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  top: -17px;
  left: -2px;
  margin: 0;
  width: 267px;
  background-color: $color_2;
  text-align: center;

  @media ($width_tablet) {
    width: 414px;
    font-size: 36px;
    line-height: 36px;
    top: -26px;
    left: 28px;
  }

  @media ($width_desktop) {
    left: 1px;
    margin: 0;
  }
}

.additional-products__list {
  @include list-reset;
  padding-left: 20px;
  padding-right: 20px;

  @media ($width_tablet) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media ($width_desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-products__description {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: $color_9;

  @media ($width_tablet) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    margin-right: auto;
  }

  @media ($width_desktop) {
    margin-right: auto;
  }
}

.additional-products__option {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media ($width_tablet) {
    width: 228px;
    margin-top: 4px;
    margin-bottom: 0;
  }

  @media ($width_desktop) {
    width: 288px;
    margin: 0;
    margin-top: 5px;
  }

  p {
    font-family: $font-additional;
    font-size: 14px;
    line-height: 14px;
    color: $color_3;
    margin: 0;

    @media ($width_tablet) {
      font-size: 16px;
      line-height: 20px;
    }
  }

  p:first-child {
    @media ($width_tablet) {
      width: 133px;
      text-align: right;
    }

    @media ($width_desktop) {
      text-align: left;
    }
  }

  p:last-child {
    @media ($width_desktop) {
      width: 44px;
      text-align: left;
    }
  }
}

.additional-products__link {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: $color_4;
  font-size: 16px;
  line-height: 20px;
  color: $color_2;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 11px;
  padding-bottom: 9px;

  @media ($width_desktop) {
    width: 245px;
    margin: 0;
  }
}

.additional-products__all {
  width: 280px;
  @include center-block;
  background-color: #61d71a;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  padding-top: 171px;
  padding-bottom: 26px;
  position: relative;

  @media ($width_tablet) {
    width: 708px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 73px;
    padding-bottom: 67px;
    padding-left: 424px;
  }

  @media ($width_desktop) {
    width: 245px;
    margin: 0;
    padding: 0;
    padding-top: 186px;
    background-image: url("../img/gift-photo-desktop@1x.jpg")
  }

  &::after {
    content: "";
    width: 56px;
    height: 61px;
    background-image: url("../img/icon-gift.svg");
    position: absolute;
    top: 65px;
    left: 112px;

    @media ($width_tablet) {
      top: 64px;
      left: 91px;
    }

    @media ($width_desktop) {
      top: 64px;
      left: 97px;
    }
  }


  p {
    width: 161px;
    @include center-block;
    text-align: center;
    font-family: $font-additional;
    font-size: 16px;
    line-height: 20px;
    color: $color_2;

    @media ($width_tablet) {
      margin: 0;
      text-align: left;
    }

    @media ($width_desktop) {
      @include center-block;
      text-align: center;
    }
  }
}
