.advantage {
  margin-bottom: 45px;

  @media ($width_tablet) {
    margin-bottom: -3px;
  }

  @media ($width_desktop) {
    width: 1220px;
    @include center-block;
  }
}

.advantage__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $color_1;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 30px;

  @media ($width_tablet) {
    width: 708px;
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 72px;
  }

  @media ($width_desktop) {
    @include center-block;
    margin: 0;
    margin-bottom: 74px;
  }
}

.advantage__list {
  @include list-reset;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media($width_tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 105px;

    & .advantage__item:nth-child(4n+3),
    & .advantage__item:nth-child(4n+4) {
      margin-bottom: 0;
    }
  }

  @media ($width_desktop) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.advantage__number {
  display: none;

  @media ($width_tablet) {
    display: block;
  }
}

.advantage__item {
  position: relative;
  margin-bottom: 26px;
  padding-left: 80px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-additional;
  color: $color_3;
  min-height: 54px;

  &:last-child {
    margin-bottom: 0;
  }

  @media ($width_tablet) {
    padding-left: 0;
    width: 324px;
    padding-top: 112px;
    margin-bottom: 133px;
    font-size: 16px;
    line-height: 24px;

    .advantage__number {
      display: block;
      font-size: 281px;
      line-height: 281px;
      color: $color_5;
      font-family: $font-base;
      position: absolute;
      z-index: 1;
    }
  }

  @media ($width_desktop) {
    width: 245px;
    margin-bottom: 65px;
  }

  p {
    margin: 0;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $color_4;
    position: absolute;
    top: -1px;
    left: 0;

    @media($width_tablet) {
      width: 80px;
      height: 80px;
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3px;
    left: 5px;

    @media($width_tablet) {
      top: 15px;
      left: 15px;
    }
  }

  &--vitamins::after {
    background-image: url('../img/advantage-leaf@1x.png');
  }

  &--flour::after {
    background-image: url('../img/advantage-powder@1x.png');
  }

  &--food::after {
    background-image: url('../img/advantage-dining@1x.png');
  }

  &--time::after {
    background-image: url('../img/advantage-clock@1x.png');
  }

  &--vitamins .advantage__description {
    width: 100%;

    @media ($width_tablet) {
      width: 201px;
      position: relative;
      z-index: 2;
    }
  }

  &--flour .advantage__description {
    width: 100%;

    @media ($width_tablet) {
      width: 222px;
      position: relative;
      z-index: 2;
    }
  }

  &--food .advantage__description {
    width: 100%;

    @media ($width_tablet) {
      width: 205px;
      position: relative;
      z-index: 2;
    }
  }

  &--time .advantage__description {
    width: 100%;

    @media ($width_tablet) {
      width: 246px;
      position: relative;
      z-index: 2;
    }
  }

  &--vitamins .advantage__number {
    @media ($width_tablet) {
      top: -40px;
      left: 118px;
    }
  }

  &--flour .advantage__number {
    @media ($width_tablet) {
      top: -39px;
      left: 111px;
    }
  }

  &--food .advantage__number {
    @media ($width_tablet) {
      top: -39px;
      left: 113px;
    }
  }

  &--time .advantage__number {
    @media ($width_tablet) {
      top: -39px;
      left: 114px;
    }
  }
}
