.advantage__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $color_1;
  font-weight: 400;
  margin-left: 22px;
  margin-bottom: 41px;

  @media(min-width: $width_tablet) {
    font-size: 60px;
    margin-left: 33px;
  }
}

.advantage__list {
  @include list-reset;

  @media(min-width: $width_tablet) {
    margin-left: 30px;
    width: 708px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 105px;
  }

  & .advantage__item:nth-child(4n+3),
  & .advantage__item:nth-child(4n+4) {
    padding-bottom: 0;
  }

}

.advantage__item {
  position: relative;
  margin-bottom: 32px;
  padding-left: 100px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-additional;
  color: $color_3;

  & p {
    margin: 0;
  }

  @media(min-width: $width_tablet) {
    padding-left: 0;
    width: 354px;
    padding-top: 117px;
    padding-bottom: 137px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $color_4;
    position: absolute;
    top: 0;
    left: 20px;

    @media(min-width: $width_tablet) {
      width: 80px;
      height: 80px;
      top: 0;
      left: 0;
    }
  }

  &::after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: 5px;
    left: 25px;

    @media(min-width: $width_tablet) {
      top: 13px;
      left: 17px;
    }
  }

  &--vitamins::after {
    background-image: url('../img/advantage-leaf@1x.png');
  }

  &--flour::after {
    background-image: url('../img/advantage-powder@1x.png');
  }

  &--food::after{
    background-image: url('../img/advantage-dining@1x.png');
  }

  &--time::after {
    background-image: url('../img/advantage-clock@1x.png');
  }

  &--vitamins p {
    @media(min-width: $width_tablet) {
      width: 201px;
    }
  }

  &--flour p {
    @media(min-width: $width_tablet) {
      width: 220px;
    }
  }

  &--food p {
    @media(min-width: $width_tablet) {
      width: 203px;
    }
  }

  &--time p {
    @media(min-width: $width_tablet) {
      width: 244px;
    }
  }
}

