.catalog-list {
  @include list-reset;

  @media ($width-tablet) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
  }

  @media ($width_desktop) {
    width: 1300px;
    @include center-block;
  }
}

.catalog-list__item {
  border-top: 1px solid $color_6;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 24px;

  @media ($width_tablet) {
    width: 324px;
    border: none;
    padding-top: 141px;
    padding-bottom: 40px;
    background-color: $color_5;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 140px;
    position: relative;
  }

  @media ($width_desktop) {
    width: 245px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 142px;
  }

  &--show {
    padding-top: 27px;
    border-bottom: 1px solid $color_6;

    @media ($width_tablet) {
      background-color: $color_2;
      padding-top: 55px;
    }
  }

  &:nth-child(odd) img {
    @media ($width_tablet) {
      position: absolute;
      top: -47px;
      left: 0;
    }
  }

  &:nth-child(even) img {
    @media ($width_tablet) {
      position: absolute;
      top: -83px;
      left: 0;
    }
  }

  &:nth-child(8n+5),
  &:nth-child(8n+6) {
    @media ($width_desktop) {
      margin-bottom: 0;
    }
  }

  &:nth-child(8n+7) {
    @media ($width_tablet) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    @media ($width_tablet) {
      border: 1px solid $color_6;
      margin-bottom: 0;
    }
  }
}

.catalog-list__wrapper {
  @include center-block;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.catalog-list__wrap {
  padding-top: 22px;

  @media ($width_tablet) {
    width: 250px;
    @include center-block;
  }
}

.catalog-list__title {
  display: block;
  width: 75px;
  font-size: 16px;
  line-height: 20px;
  color: $color_1;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  text-decoration: none;

  @media ($width_tablet) {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 130px;
    @include center-block;
    margin-top: 0;
    margin-bottom: 21px;
  }
}

.catalog-list__option {
  width: 147px;
  font-family: $font-additional;
  color: $color_3;
  font-size: 12px;
  line-height: 13px;
  margin-left: -3px;

  @media ($width_tablet) {
    width: 251px;
    border-collapse: collapse;
    margin-bottom: 32px;
    font-size: 16px;
    margin-left: 0;
  }

  @media ($width_desktop) {
    width: 167px;
    @include center-block;
  }

  & td:nth-child(odd) {
    width: 38px;
    text-align: left;
    margin-right: auto;
  }

  & td:nth-child(even) {
    width: 39px;
    text-align: right;
  }

  & tr {
    margin-top: -2px;

    @media ($width_tablet) {
      font-size: 16px;
    }
  }

  & td {
    @media ($width_tablet) {
      padding-top: 7px;
      padding-bottom: 11px;
      border-bottom: 1px solid $color_8;
    }
  }
}


.catalog-list__link {
  display: block;
  width: 100%;
  @include center-block;
  text-align: center;
  background-color: $color_4;
  font-size: 16px;
  line-height: 20px;
  color: $color_2;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 9px;
  padding-bottom: 10px;
  margin-top: -1px;

  @media ($width_tablet) {
    width: 249px;
    padding-top: 10px;
  }

  @media ($width_desktop) {
    width: 169px;
  }

  &--show {
    background-color: $color_5;
    color: $color_3;
  }
}

.catalog-list__btn {
  position: relative;
  outline: none;
  display: block;
  width: 31px;
  height: 31px;
  @include center-block;
  border: none;
  background-color: transparent;
  margin-bottom: 22px;

  @media ($width_tablet) {
    width: 61px;
    height: 61px;
    margin-bottom: 47px;
  }

  &::before {
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus-mobile.svg");
    position: absolute;
    top: 0;
    left: 0;

    @media ($width_tablet) {
      width: 61px;
      height: 61px;
      background-image: url("../img/icon-plus.svg")
    }
  }
}

.catalog-list__elem1 {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color_1;
  margin-bottom: 7px;

  @media ($width_tablet) {
    font-size: 20px;
    width: 135px;
    @include center-block;
    margin-bottom: 26px;
  }
}

.catalog-list__elem2 {
  margin: 0;
  text-align: center;
  font-family: $font-additional;
  font-size: 12px;
  line-height: 16px;
  color: $color_3;
  margin-bottom: 22px;

  @media ($width_tablet) {
    font-size: 16px;
    width: 168px;
    @include center-block;
    margin-bottom: 89px;
  }
}
