.cooperation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  padding-left: 19px;
  padding-right: 25px;
  padding-bottom: 25px;

  p {
    margin: 0;
    line-height: 20px;
  }

  p:first-child {
    width: 125px;
    font-size: 16px;
    text-transform: uppercase;
  }

  p:last-child {
    width: 135px;
    font-size: 14px;
    font-family: $font_additional;
  }
}
