.copyrights {
  @include center-block;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyrights__link {
  text-decoration: none;

  &--text {
    font-family: $font-additional;
    color: $color_3;
  }
}
