.copyrights {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media ($width_tablet) {
    margin-top: -7px;
    width: 162px;
  }

  @media ($width_desktop) {
    margin-top: -3px;
  }
}

.copyrights__link {
  text-decoration: none;

  &--text {
    margin-left: -2px;
    font-family: $font-additional;
    color: $color_3;
  }

  &--image {
    .copyrights__icon-academy {
      fill: #666666;
    }

    &:hover .copyrights__icon-academy {
      fill: $color_4;
    }

    &:active .copyrights__icon-academy {
      opacity: 0.3;
    }
  }
}
