.example {
  position: relative;
  background-color: $color_5;
  padding-top: 18px;
  @media (min-width: $width_tablet) {
    background-color: $color_2;
    padding-top: 44px;
  }
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  color: $color_1;
  font-weight: 400;
  margin-left: 20px;
  margin-bottom: 23px;
  @media (min-width: $width_tablet) {
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 64px;
  }
}

.example__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-additional;
  color: $color_3;
  margin-left: 20px;
  margin-right: 34px;
  margin-bottom: 26px;
  @media (min-width: $width_tablet) {
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrap {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
  @media (min-width: $width_tablet) {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 252px;
    display: flex;
  }
}

.example__weight,
.example__day {
  position: relative;
}

.example__wrappers1 {
  width: 280px;
  @include center-block;
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
  @media (min-width: $width_tablet) {
    width: 366px;
    margin: 0;
    margin-right: auto;
  }

  p {
    margin: 0;
    width: 124px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 18px;
    border: 1px solid $color_8;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    z-index: 1;
    @media (min-width: $width_tablet) {
      width: 162px;
      font-size: 30px;
      line-height: 37px;
      padding-top: 14px;
    }
  }

  span {
    display: block;
    position: absolute;
    top: 46px;
    left: 20px;
    width: 82px;
    background-color: $color_5;
    font-family: $font-additional;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    z-index: 2;
    @media (min-width: $width_tablet) {
      width: 143px;
      font-size: 14px;
      background-color: $color_2;
      line-height: 14px;
      top: 63px;
      left: 9px;
    }
  }
}

.example__wrappers2 {
  display: flex;
  justify-content: center;
  @media (min-width: $width_tablet) {
    display: block;
    padding-top: 10px;
    width: 174px;
  }

  p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: right;
    @media (min-width: $width_tablet) {
      font-size: 20px;
      width: 174px;
    }
  }

  p:first-child {
    margin-left: -1px;
    margin-bottom: 10px;
    margin-right: 3px;
  }
}

.example__img1 {
  display: block;
  @include center-block;
  margin-bottom: 33px;
  @media (min-width: $width_tablet) {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.example__img2 {
  display: none;
}

.example__progress {
  padding-bottom: 32px;
  @media (min-width: $width_tablet) {
    background-color: $color_5;
    padding-top: 375px;
    padding-bottom: 75px;
  }
}

.example__center {
  width: 198px;
  @include center-block;
  display: flex;
  justify-content: space-between;
  @media (min-width: $width_tablet) {
    @include center-block;
    width: 583px;
    display: flex;
    justify-content: space-between;
  }
}

  button {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color_1;
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: -2px;
    @media (min-width: $width_tablet) {
      font-size: 20px;
      margin-top: -5px;
    }
}

.example__rangebar {
  margin-top: 2px;
  width: 84px;
  height: 14px;
  border: 1px solid $color_8;
  border-radius: 10px;
  background-color: $color_2;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 6px;
  @media (min-width: $width_tablet) {
    padding: 0;
    width: 428px;
    height: 6px;
    background-color: $color_10;
    position: relative;
    border-radius: 3px;
  }
}

.example__progressbar {
  height: 6px;
  width: 47%;
  border-radius: 5px;
  background-color: $color_4;
  @media (min-width: $width_tablet) {
    display: none;
  }
}

.example__slider {
  display: none;
  @media (min-width: $width_tablet) {
    position: absolute;
    top: -13px;
    left: 198px;
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $color_2;
    border: 1px solid $color_8;

    &:after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $color_4;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }
}
