.food-list {
  @include list-reset;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $width_tablet) {
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $width_desktop) {
    width: 1220px;
    padding-left: 0;
    padding-right: 0;
    @include center-block;
    display: flex;
  }

  & .food-list__item:last-child {
    margin-bottom: 0;
  }
}

.food-list__item {
  position: relative;
  width: 100%;
  @include center-block;
  background-color: $color_5;
  padding: 30px 20px 22px 20px;
  margin-bottom: 20px;

  @media(min-width: $width_tablet) {
    margin-bottom: 30px;
    padding: 75px 50px 62px 52px;
  }

  @media (min-width: $width_desktop) {
    width: 570px;
    margin-left: 0;
    margin-right: 80px;
    margin-bottom: 0;
  }

  &:last-child {
    @media (min-width: $width_desktop) {
      margin-right: 0;
    }
  }

  &--slim::after {
    content: "";
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    position: absolute;
    top: 22px;
    left: 30px;

    @media(min-width: $width_tablet) {
      display: none;
    }

    @media (min-width: $width_desktop) {
      display: block;
      width: 71px;
      height: 97px;
      top: 41px;
      left: 66px;
    }
  }

  &--fat::after {
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    position: absolute;
    top: 33px;
    left: 13px;

    @media(min-width: $width_tablet) {
      display: none;
    }

    @media (min-width: $width_desktop) {
      display: block;
      width: 134px;
      height: 57px;
      top: 70px;
      left: 34px;
    }
  }

  &--slim .food-list__title {
    @media(min-width: $width_tablet) {
      margin-bottom: 24px;
    }

    @media (min-width: $width_desktop) {
      margin-left: 162px;
      margin-bottom: 75px;
    }
  }

  &--slim .food-list__description {
    @media(min-width: $width_tablet) {
      width: 372px;
    }

    @media (min-width: $width_desktop) {
      width: 462px;
    }
  }

  &--fat .food-list__description {
    @media(min-width: $width_tablet) {
      width: 340px;
    }

    @media (min-width: $width_desktop) {
      width: 446px;
    }
  }

  &--fat .food-list__title {
    @media(min-width: $width_tablet) {
      margin-bottom: 27px;
    }

    @media (min-width: $width_desktop) {
      margin-top: 1px;
      margin-left: 162px;
      margin-bottom: 75px;
    }
  }
}

.food-list__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin-left: 70px;
  text-transform: uppercase;
  color: $color_1;

  &--slim {
    margin-bottom: 29px;
  }

  &--fat {
    margin-top: -2px;
    margin-bottom: 29px;
  }

  @media(min-width: $width_tablet) {
    margin-left: 0;
    font-size: 36px;
  }

  @media (min-width: $width_desktop) {
    margin-left: 164px;
    margin-bottom: 80px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color_4;
    position: absolute;
    top: 24px;
    left: 22px;

    @media(min-width: $width_tablet) {
      display: none;
    }

    @media (min-width: $width_desktop) {
      display: block;
      width: 100px;
      height: 100px;
      top: 48px;
      left: 52px;
    }
  }
}

.food-list__wrap {
  margin-bottom: 18px;

  @media (min-width: $width_tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 57px;

    span {
      width: 200px;
      height: 95px;
      background-color: transparent;
      position: relative;
    }

    span::before {
      content: "";
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $color_4;
      position: absolute;
      top: -46px;
      left: 1;
    }

    &--slim span::after {
      content: "";
      width: 141px;
      height: 194px;
      background-image: url("../img/icon-cat-slim.svg");
      position: absolute;
      top: -58px;
      left: 30px;
    }

    &--fat span::after {
      content: "";
      width: 268px;
      height: 113px;
      background-image: url("../img/icon-cat-pro.svg");
      position: absolute;
      top: -2px;
      left: -35px;
    }
  }

  @media (min-width: $width_desktop) {
    margin-bottom: 31px;

    & span {
      display: none;
    }
  }
}

.food-list__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $color_7;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-additional;
  color: $color_3;

  @media(min-width: $width_tablet) {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.food-list__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_1;

  @media (min-width: $width_tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &::after {
    content: "";
    width: 25px;
    height: 12px;
    background-image: url('../img/icon-right-arrow-long.svg');
    position: absolute;
  }

  &:hover::after {
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &--slim::after {
    top: 5px;
    left: 97px;

    @media (min-width: $width_tablet) {
      top: 10px;
      left: 132px;
    }

    @media (min-width: $width_desktop) {
      top: 8px;
    }
  }

  &--fat::after {
    top: 5px;
    left: 95px;

    @media (min-width: $width_tablet) {
      top: 10px;
      left: 125px;
    }

    @media (min-width: $width_desktop) {
      top: 8px;
    }
  }
}
