.food-list {
  @include list-reset;
}

.food-list__item {
  position: relative;
  width: 280px;
  @include center-block;
  background-color: $color_5;
  padding: 30px 36px 22px 21px;
  margin-bottom: 20px;

  &::last-child {
    margin: 0;
  }

  &--slim::after {
    content: "";
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    position: absolute;
    top: 22px;
    left: 30px;
  }

  &--fat::after {
    content: "";
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    position: absolute;
    top: 35px;
    left: 13px;
  }
}

.food-list__title {
  margin: 0;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin-left: 70px;
  margin-bottom: 36px;
  text-transform: uppercase;
  color: $color_1;

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #68b738;
    position: absolute;
    top: 24px;
    left: 20px;
  }
}

.food-list__description {
  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid $color_7;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-additional;
  color: $color_3;
}

.food-list__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_1;

  &:hover::after{
    width: 34px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &::after {
    content: "";
    width: 25px;
    height: 12px;
    background-image: url('../img/icon-right-arrow-long.svg');
    position: absolute;
    top: 6px;
    left: 95px;
  }
}
