.food-promo {
  position: relative;
  width: 100%;
  background-image: url('../img/index-background-mobile@1x.jpg');
  padding-top: 25px;
  padding-bottom: 165px;
  margin-bottom: 135px;

  @media(min-width: $width_tablet) {
    background-image: none;
  }
}

.food-promo__title {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $color_2;
  padding-bottom: 19px;

  @media(min-width: $width_tablet) {
    width: 415px;
    margin-left: 120px;
    font-size: 60px;
    line-height: 60px;
    color: $color_1;
    text-align: left;
  }
}

.food-promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $color_2;

  @media(min-width: $width_tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $color_1;
    text-align: left;
    margin-left: 118px;
  }
}

.food-promo__img {
  position: absolute;
  top: 167px;
  left: 20px;
}
