.food {
  margin-bottom: 32px;

  @media (min-width: $width_tablet) {
    margin-bottom: 51px;
  }
}

.food__link {
  width: 280px;
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: $color_2;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 11px;
  text-align: center;
  background-color: $color_4;
  @include center-block;
  margin-bottom: 22px;
  @media(min-width: $width_tablet) {
    position: absolute;
    top: 374px;
    left: 119px;
  }
  @media (min-width: $width_desktop) {
    top: 480px;
  }

  &:hover {
    background-color: $btn_hover;
  }

  &:active {
    color: $btn_active;
  }
}
