.main-navigation {
  @media (min-width: $width_desktop) {
    width: 50%;
    height: 696px;
    padding-top: 55px;
    padding-left: 132px;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  @media (min-width: $width_desktop) {
    &--catalog {
      width: 477px;
      height: auto;
      background-image: none;
      padding-top: 0;
      padding-left: 0;
    }
  }
}
