.main-navigation {
  @media ($width_tablet) {
    width: 438px;
  }

  @media ($width_desktop) {
    width: 50%;
    height: 696px;
    padding-top: 55px;
    padding-left: 132px;
    background-color: #60d719;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
  }

  @media($width_desktop) and ($retina-dpi),
        ($width_desktop) and ($retina-dppx) {
          background-image: url('../img/index-background-desktop@2x.jpg');
          background-size: cover;
        }

  @media ($width_desktop) {
    &--catalog {
      width: 477px;
      height: auto;
      background-image: none;
      padding-top: 0;
      padding-left: 0;
      background-color: transparent;
    }
  }
}
