.maps__static {
  position: relative;
  width: 320px;
  height: 363px;
  @include center-block;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 0 -37px;

  &::after {
    content: "";
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin50.png");
    position: absolute;
    top: 141px;
    left: 136px;
    @media (min-width: $width_tablet) {
      width: 113px;
      height: 106px;
      background-image: url("../img/map-pin.png");
      top: 146px;
      left: 322px;
    }
    @media (min-width: $width_desktop) {
      top: 148px;
      left: 928px;
    }
  }

  @media (min-width: $width_tablet) {
    width: 767px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: 0 -5px;
    height: 395px;
  }
  @media (min-width: $width_desktop) {
    width: 1300px;
    background-image:: url("../img/bg-map-desktop@1x.png");
    background-position: -70px -2px;
  }
}

.maps__interactive {
  display: none;
}
