.navigation-list {
  @include list-reset;
  width: 100%;

  @media (min-width: $width_tablet) {
    width: 438px;
    display: flex;
    margin-top: -5px;
    justify-content: space-between;
  }

  @media (min-width: $width_desktop) {
    width: 477px;
  }
}

.navigation-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  padding-top: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid $color_6;

  @media (min-width: $width_tablet) {
    border: none;
    font-size: 18px;
    line-height: 25px;
  }

  @media (min-width: $width_desktop) {
    font-size: 20px;
  }

  &:first-child {
    border-top: 1px solid $color_6;

    @media(min-width: $width_tablet) {
      border-top: none;
    }
  }
}

.navigation-list__link {
  color: $color_1;
  text-decoration: none;

  @media (min-width: $width_tablet) {
    color: $color_9;
    font-weight: 400;

    &--active {
      border-bottom: $color_4;
    }
  }

  @media (min-width: $width_desktop) {
    color: $color_2;

    &--catalog {
      color: $color_1;
    }
  }

  &:hover {
    color: $main_menu_hover;
  }

  &:active {
    color: $main_menu_down;
  }
}
