.page-main {
  padding-top: 31px;
}

.page-main__title {
  width: 260px;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 22px;
  margin-bottom: 36px;
}

.page-main__description {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 39px;
}
