.page-footer {
  background-color: $color_5;
  text-align: center;

  @media ($width_tablet) {
    padding: 66px 30px 58px 31px;
  }

  @media ($width_desktop) {
    padding: 61px 38px 59px 40px;
  }
}

.page-footer__logo {
  display: block;
  margin-bottom: 29px;

  @media($width_tablet) {
    margin-bottom: 0;
    margin-right: 27px;
  }
}

.page-footer__center {
  padding-top: 39px;
  padding-bottom: 28px;
  padding-left: 20px;
  padding-right: 20px;

  @media($width_tablet) {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  @media ($width_desktop) {
    width: 1220px;
    @include center-block;
  }
}


.page-footer__center2 {
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $color_7;
  border-bottom: 1px solid $color_7;
  margin-bottom: 20px;

  @media ($width_tablet) {
    border: none;
    margin: 0;
  }
}
