.page-header {
  width: 100%;
  padding-top: 12px;

  @media ($width_tablet) {
    display: flex;
    padding-top: 24px;
    padding-left: 29px;
    padding-right: 31px;
  }

  @media ($width_desktop) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-bottom: 80px;

    &--catalog {
      width: 1300px;
      @include center-block;
      padding-top: 53px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 0;
    }
  }
}

.page-header__wrap {
  @media ($width_tablet) {
    width: 100%;

  }

  @media ($width_desktop) {
    position: absolute;
    left: 50%;
    margin-left: -650px;
    width: 1300px;
    display: flex;
  }
}

.page-header__wrap2 {
  @media ($width_tablet) {
    display: flex;
  }
}

.page-header__wrap3 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;

  @media($width_tablet) {
    margin: 0;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media ($width_desktop) {
    width: 50%;
    padding-top: 53px;
    padding-left: 40px;

    &--catalog {
      width: 270px;
      padding-top: 0;
      padding-left: 0;
    }
  }
}

.page-header__btn {
  outline: none;
  width: 25px;
  height: 19px;
  margin-top: 12px;
  background: transparent;
  border: none;
  position: relative;

  @media($width_tablet) {
    display: none;
  }

  &::after {
    content: "";
    width: 25px;
    height: 19px;
    background-image: url('../img/icon-mobile-menu.svg');
    position: absolute;
    top: -5px;
    left: 0;
  }
}

.page-header__promo {
  position: relative;
  width: 320px;
  @include center-block;
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-repeat: no-repeat;
  padding-top: 27px;
  margin-bottom: 22px;
  min-height: 295px;

  @media ($retina-dpi), ($retina-dppx) {
    background-image: url('../img/index-background-mobile@2x.jpg');
    background-size: 320px auto;
  }

  @media($width_tablet) {
    background-image: none;
    padding-top: 0;
  }

  @media ($width_desktop) {
    width: 1300px;
    position: absolute;
    top: -554px;
    left: 50%;
    margin-left: -650px;
    margin-bottom: 0;
  }
}

.page-header__title {
  width: 250px;
  margin: 0;
  @include center-block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $color_2;
  margin-bottom: 25px;

  @media ($width_tablet) {
    width: 415px;
    margin-left: 120px;
    font-size: 60px;
    line-height: 60px;
    color: $color_1;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 41px;
  }
}

.page-header__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $color_2;
  margin-bottom: 28px;

  @media($width_tablet) {
    font-size: 20px;
    line-height: 20px;
    color: $color_1;
    text-align: left;
    margin-left: 121px;
  }
}

.page-header__img {
  display: block;
  width: 280px;
  @include center-block;
  margin-bottom: 3px;
}

.page-header__link {
  display: block;
  width: 280px;
  @include center-block;
  padding-top: 12px;
  padding-bottom: 11px;
  background-color: $color_4;
  color: $color_2;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
