.page-main {
  padding-top: 31px;
  @media (min-width: $width_tablet) {
    padding-top: 61px;
  }
  @media (min-width: $width_desktop) {
    padding-top: 0;
  }


  &--catalog {
    @media (min-width: $width_tablet) {
      padding-top: 65px;
    }
    @media (min-width: $width_desktop) {
      padding-top: 83px;
    }
  }
}

.page-main__title {
  width: 260px;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 22px;
  margin-bottom: 36px;
  @media (min-width: $width_tablet) {
    width: 432px;
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 156px;
  }
  @media (min-width: $width_desktop) {
    margin-left: 40px;
  }
}

.page-main__description {
  margin: 0;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 39px;
}
