.page-header {
  width: 100%;
  padding-top: 10px;

  @media (min-width: $width_tablet) {
    display: flex;
    padding-top: 24px;
    padding-left: 29px;
    padding-right: 31px;
  }

  @media (min-width: $width_desktop) {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    margin-bottom: 80px;

    &--catalog {
      width: 1300px;
      @include center-block;
      padding-top: 53px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 0;
    }
  }
}

.page-header__left,
.page-header__right {
  display: none;

  @media (min-width: $width_desktop) {
    display: block;
    width: 50%;
    height: 696px;
  }
}

.page-header__right {
  @media (min-width: $width_desktop) {
    background-color: $color_4;
    background-image: url("../img/index-background-desktop@1x.jpg");
  }
}

.page-header__wrapper {
  @media (min-width: $width_tablet) {
    width: 100%;
    display: flex;
  }

  @media (min-width: $width_desktop) {
    position: absolute;
    left: 50%;
    margin-left: -650px;
    width: 1300px;
    display: flex;
  }
}

.page-header__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 14px;

  @media(min-width: $width_tablet) {
    margin: 0;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $width_desktop) {
    width: 50%;
    padding-top: 53px;
    padding-left: 40px;

    &--catalog {
      width: 270px;
      padding-top: 0;
      padding-left: 0;
    }
  }
}

.page-header__btn {
  outline: none;
  width: 25px;
  height: 19px;
  margin-top: 12px;
  background: transparent;
  border: none;
  position: relative;

  @media(min-width: $width_tablet) {
    display: none;
  }

  &::after {
    content: "";
    width: 25px;
    height: 19px;
    background-image: url('../img/icon-mobile-menu.svg');
    position: absolute;
    top: -5px;
    left: 0;
  }
}
