.page-header {
  width: $width_mobile;
  padding-top: 12px;

  @media (min-width: $width_tablet) {
    display: flex;
    padding-top: 24px;
    padding-left: 29px;
    padding-right: 31px;
  }

  @media (min-width: $width_desktop) {
    padding-top: 53px;
    padding-left: 109px;
  }
}

.page-header__wrap {
  position: relative;
  width: 281px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  @media(min-width: $width_tablet) {
    margin: 0;
    margin-right: auto;
  }
}

.page-header__btn {
  outline: none;
  width: 25px;
  height: 19px;
  margin-top: 12px;
  background: transparent;
  border: none;

  @media(min-width: $width_tablet) {
    display: none;
  }

  &::after {
    content: "";
    width: 25px;
    height: 19px;
    background-image: url('../img/icon-mobile-menu.svg');
    position: absolute;
    top: 11px;
    left: 257px;
  }
}
