.page-main {
  @media ($width_tablet) {
    padding-top: 51px;
  }

  @media ($width_desktop) {
    padding-top: 0;
    position: relative;
  }


  &--catalog {
    padding-top: 15px;

    @media ($width_tablet) {
      padding-top: 51px;
    }

    @media ($width_desktop) {
      padding-top: 68px;
    }
  }

  &--form {
    padding-top: 15px;
    margin-left: -2px;

    @media ($width_tablet) {
      padding-top: 51px;
      margin-left: 0;
    }

    @media ($width_desktop) {
      padding-top: 67px;
    }
  }
}

.page-main__center {

  &--form {
    width: 280px;
    @include center-block;

    @media ($width_tablet) {
      width: 710px;
    }

    @media ($width_desktop) {
      width: 1220px;
      margin-bottom: 66px;
    }
  }
}

.page-main__title {
  width: 260px;
  margin: 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-left: 22px;
  margin-bottom: 36px;

  @media ($width_tablet) {
    width: 432px;
    font-size: 60px;
    margin-left: 30px;
    margin-bottom: 156px;
  }

  @media ($width_desktop) {
    width: 1220px;
    @include center-block;
  }

  &--catalog {
    margin-left: 20px;
    margin-bottom: 28px;

    @media ($width_tablet) {
      margin-left: 30px;
      margin-bottom: 166px;
    }

    @media ($width_desktop) {
      width: 1220px;
      @include center-block;
    }
  }

  &--form {
    margin-left: 1px;
    margin-bottom: 25px;

    @media ($width_tablet) {
      margin-bottom: 56px;
    }

    @media ($width_desktop) {
      margin-left: 0;
      margin-bottom: 55px;
    }
  }
}

.page-main__description {
  margin: 0;
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-bottom: 39px;

  &--form {
    margin-left: 1px;

    @media ($width_tablet) {
      width: 324px;
      font-size: 20px;
      line-height: 30px;
      color: $color_9;
      margin-left: 42px;
      margin-bottom: 65px;
    }

    @media ($width_desktop) {
      margin: 0;
    }
  }
}

.page-main__wrap {
  position: relative;
  width: 100%;
  height: 363px;
  z-index: 1;

  &--catalog {
    height: 363px;
  }

  @media ($width_tablet) {
    height: 400px;
  }
}

.page-main__wrap2 {
  position: relative;
  z-index: 2;
  margin-top: -477px;

  @media ($width_tablet) {
    margin-top: -594px;
  }

  @media ($width_desktop) {
    width: 1300px;
    height: 400px;
    @include center-block;
    position: relative;
    margin-top: -400px;
  }
}
