.program-selection {
  width: 100%;

  @media ($width_tablet) {
    margin-bottom: 71px;
  }

  @media ($width_desktop) {
    margin-bottom: 81px;
  }
}

.program-selection__item {
  width: 283px;
  @include center-block;
  display: flex;
  margin-bottom: 10px;

  @media ($width_tablet) {
    width: 100%;
    margin-bottom: 20px;
  }

  @media ($width_desktop) {
    width: 570px;
  }

  &:nth-child(3n) {
    margin-bottom: 19px;

    @media ($width_tablet) {
      margin-bottom: 72px;
    }

    @media ($width_desktop) {
      margin-bottom: 0;
    }
  }

  &:nth-child(5n) {
    margin-bottom: 0;
  }

  &--contacts {
    @media ($width_desktop) {
      margin: 0;
      margin-right: auto;
    }
  }

  &--contacts:last-child {
    @media ($width_desktop) {
      margin-right: 0;
    }
  }
}

.program-selection__label {
  text-transform: uppercase;
  color: $color_9;
  margin-top: 15px;
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: 2px;

  @media ($width_tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &--radio {
    margin-left: 47px;
    position: relative;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      border: 1px solid $color_8;
      top: -2px;
      left: -46px;

      @media ($width_tablet) {
        width: 40px;
        height: 40px;
        top: -5px;
        left: -59px;
      }
    }

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      position: absolute;
      top: 7px;
      left: -37px;

      @media ($width_tablet) {
        width: 18px;
        height: 18px;
        top: 6px;
        left: -48px;
      }
    }
  }

  &--checkbox {
    margin-left: 47px;
    position: relative;

    &::before {
      content: "";
      width: 30px;
      height: 30px;
      position: absolute;
      border: 1px solid $color_8;
      top: -2px;
      left: -46px;

      @media ($width_tablet) {
        width: 40px;
        height: 40px;
        top: -5px;
        left: -59px;
      }

      @media ($width_desktop) {
        top: -4px;
        left: -58px;
      }
    }

    &::after {
      content: "";
      width: 22px;
      height: 17px;
      position: absolute;
      top: 4px;
      left: -42px;

      @media ($width_tablet) {
        top: 6px;
        left: -50px;
      }

      @media ($width_desktop) {
        top: 8px;
        left: -49px;
      }
    }
  }

  &--email {
    position: relative;

    &::after {
      content: "";
      width: 18px;
      height: 14px;
      background-image: url("../img/icon-mail.svg");
      position: absolute;
      top: 1px;
      left: 248px;

      @media ($width_tablet) {
        top: 4px;
        left: 593px;
      }

      @media ($width_desktop) {
        left: 530px;
      }
    }
  }

  &--phone {
    position: relative;

    @media ($width_tablet) {
      margin-left: -1px;
    }

    &::after {
      content: "";
      width: 21px;
      height: 21px;
      background-image: url("../img/icon-phone.svg");
      position: absolute;
      top: -2px;
      left: 248px;

      @media ($width_tablet) {
        top: 1px;
        left: 597px;
      }

      @media ($width_desktop) {
        left: 532px;
      }
    }
  }
}

.program-selection__wrap {
  margin-bottom: 42px;

  @media ($width_tablet) {
    padding-left: 71px;
    padding-right: 67px;
    margin-bottom: 98px;
  }

  @media ($width_desktop) {
    display: flex;
    padding-left: 43px;
    padding-right: 39px;
    margin-bottom: 91px;
  }
}

.program-selection__wrappers {
  @media ($width_desktop) {
    width: 570px;
    margin-right: auto;
  }
}

.program-selection__wrappers2 {
  @media ($width_desktop) {
    display: flex;
  }
}

.program-selection__control {
  padding-left: 14px;
  padding-top: 15px;
  padding-bottom: 15px;

  @media ($width_tablet) {
    padding-left: 17px;
  }

  &--text {
    outline: none;
    @include program-selection-control;
    opacity: 0.5;
    height: 45px;

    @media ($width_tablet) {
      font-size: 20px;
      line-height: 20px;
      height: 52px;
    }

    &::placeholder {
      color: $color_3;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      border: 2px solid $color_3;
    }
  }

  &--name {
    width: 229px;

    @media ($width_tablet) {
      width: 567px;
    }

    @media ($width_desktop) {
      width: 506px;
    }
  }

  &--weight {
    width: 204px;

    @media ($width_tablet) {
      width: 536px;
    }

    @media ($width_desktop) {
      width: 475px;
    }
  }

  &--age {
    width: 172px;

    @media ($width_tablet) {
      width: 497px;
    }

    @media ($width_desktop) {
      width: 436px;
    }
  }

  &--radio:checked+.program-selection__label--radio::after {
    background-color: $color_4;
  }

  &--email {
    outline: none;
    width: 219px;
    height: 45px;
    @include program-selection-control;
    padding-right: 36px;
    opacity: 0.5;

    @media ($width_tablet) {
      width: 551px;
      height: 52px;
      font-size: 20px;
      line-height: 20px;
      padding-top: 13px;
      padding-left: 20px;
    }

    @media ($width_desktop) {
      width: 486px;
      padding-left: 18px;
    }

    &::placeholder {
      color: $color_3;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      border: 2px solid $color_3;
    }
  }

  &--phone {
    outline: none;
    width: 204px;
    height: 45px;
    @include program-selection-control;
    padding-right: 36px;
    opacity: 0.5;

    @media ($width_tablet) {
      width: 535px;
      height: 52px;
      font-size: 20px;
      line-height: 20px;
      padding-top: 13px;
      padding-left: 18px;
    }

    @media ($width_desktop) {
      width: 472px;
    }

    &::placeholder {
      color: $color_3;
    }

    &:hover {
      opacity: 1;
    }

    &:active {
      border: 2px solid $color_3;
    }
  }

  &--checkbox:checked+.program-selection__label--checkbox::after {
    background-image: url("../img/icon-tick.svg");
  }

  &--textarea {
    display: block;
    width: 280px;
    height: 150px;
    @include program-selection-control;
    @include center-block;
    padding-top: 13px;
    padding-left: 16px;
    padding-right: 10px;
    border: 1px solid $color_5;

    @media ($width_tablet) {
      width: 100%;
      height: 175px;
      font-size: 20px;
      line-height: 30px;
      padding-top: 10px;
      padding-left: 19px;
    }
  }
}

.program-selection__list {
  @include list-reset;
  padding-top: 27px;
  padding-bottom: 26px;
  border-top: 1px solid $color_8;
  border-bottom: 1px solid $color_8;

  @media ($width_tablet) {
    width: 100%;
    border: 1px solid $color_8;
    padding-bottom: 33px;
  }

  @media ($width_desktop) {
    width: 570px;
  }

  li {
    width: 280px;
    @include center-block;
    margin-bottom: 24px;

    @media ($width_tablet) {
      width: 100%;
      margin: 0;
      margin-bottom: 25px;
      padding-top: 7px;
      padding-left: 41px;
    }

    @media ($width_desktop) {
      padding-left: 39px;
    }
  }

  li:last-child {
    margin-bottom: 0;
  }

  &--additionaly {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;

    @media ($width_tablet) {
      display: flex;
      flex-wrap: wrap;
    }

    @media ($width_desktop) {
      flex-wrap: nowrap;
      width: 100%;
    }

    li {
      @media ($width_tablet) {
        width: 283px;
        padding-left: 12px;
        margin-bottom: 43px;
      }

      @media ($width_desktop) {
        width: 325px;
        padding-left: 10px;
      }
    }

    li:nth-child(even) {
      @media ($width_tablet) {
        padding-left: 72px;
      }

      @media ($width_desktop) {
        padding-left: 10px;
      }
    }
  }
}

.program-selection__wrap2 {
  border-top: 3px solid $color_4;
  margin-bottom: 19px;

  @media ($width_tablet) {
    padding-left: 57px;
    padding-right: 52px;
    margin-bottom: 4px;
  }

  @media ($width_desktop) {
    padding-left: 29px;
    padding-right: 25px;
    margin-bottom: 79px;
  }

  &--comments {
    margin-bottom: 32px;

    @media ($width_tablet) {
      margin-bottom: 76px;
    }
  }

  &--additionaly {
    @media ($width_desktop) {
      margin-bottom: 19px;
    }
  }
}

.program-selection__wrap3 {
  @media ($width_tablet) {
    display: flex;
    padding-left: 73px;
    padding-right: 63px;
  }

  @media ($width_desktop) {
    padding-left: 44px;
  }
}

.program-selection__fieldset {
  border: none;
  position: relative;

  &--contacts {
    padding-top: 66px;

    @media ($width_tablet) {
      padding-top: 87px;
    }
  }

  &--comments {
    padding-top: 41px;

    @media ($width_tablet) {
      padding-top: 87px;
    }
  }

  &--additionaly {
    padding-top: 21px;
    margin-bottom: 31px;

    @media ($width_tablet) {
      padding-top: 44px;
      margin-bottom: 11px;
    }
  }
}

.program-selection__legend {
  font-size: 24px;
  line-height: 24px;
  color: $color_1;
  position: absolute;
  left: 0;
  padding-left: 19px;
  background-color: $color_2;

  @media ($width_tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  &--contacts {
    width: 222px;
    top: -16px;

    @media ($width_tablet) {
      width: 594px;
      top: -25px;
      left: -28px;
      padding-left: 40px;
    }
  }

  &--comments {
    width: 163px;
    top: -18px;

    @media ($width_tablet) {
      width: 259px;
      top: -25px;
      left: -27px;
      padding-left: 39px;
    }
  }

  &--additionaly {
    width: 184px;
    top: -17px;

    @media ($width_tablet) {
      width: 291px;
      top: -24px;
      left: -27px;
      padding-left: 39px;
    }
  }
}

.program-selection__btn {
  display: block;
  width: 280px;
  @include center-block;
  font-family: $font-base;
  font-size: 16px;
  line-height: 20px;
  color: $color_2;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  background-color: $color_4;
  border: none;
  margin-bottom: 23px;

  @media ($width_tablet) {
    margin: 0;
    margin-right: 61px;
    width: 283px;
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 1px;
    font-size: 20px;
  }

  @media ($width_desktop) {
    width: 568px;
    margin-right: 82px;
    padding-left: 8px;
  }
}

.program-selection__description {
  font-family: $font-additional;
  font-size: 14px;
  line-height: 16px;
  padding-left: 84px;
  margin-top: -2px;
  margin-bottom: 30px;

  @media ($width_tablet) {
    width: 180px;
    margin: 0;
    padding-left: 0;
    font-size: 16px;
    padding-top: 16px;
  }
}
