.social-icons {
  @include list-reset;
  @include center-block;
  display: flex;
  justify-content: space-between;
  width: 123px;
  padding-top: 24px;
  padding-bottom: 19px;

  @media ($width_tablet) {
    margin: 0;
    padding-top: 4px;
    padding-bottom: 0;
  }
}

.social-icons__item {
  &:first-child {
    margin-top: -2px;
    margin-left: -5px;

    svg {
      width: 22px;
      height: 12px;

      @media ($width_tablet) {
        width: 30px;
        height: 16px;
      }
    }
  }

  &:not(:first-child):not(:last-child) {
    margin-top: -1px;
    margin-left: -3px;

    @media ($width_tablet) {
      margin-top: -5px;
    }

    svg {
      width: 17px;
      height: 17px;

      @media ($width_tablet) {
        width: 23px;
        height: 23px;
      }
    }
  }

  &:last-child {
    margin-top: -2px;
    margin-right: 4px;

    @media ($width_tablet) {
      margin-top: -8px;
    }

    svg {
      width: 10px;
      height: 19px;

      @media ($width_tablet) {
        width: 14px;
        height: 28px;
      }
    }
  }
}

.social-icons__link {
  .social-icons__vk,
  .social-icons__insta,
  .social-icons__fb {
    fill: #666666;
  }

  &:hover .social-icons__vk,
  &:hover .social-icons__insta,
  &:hover .social-icons__fb {
    fill: $color_4;
  }

  &:active .social-icons__vk,
  &:active .social-icons__insta,
  &:active .social-icons__fb {
    opacity: 0.3;
  }
}
