.social-icons {
  @include list-reset;
  @include center-block;
  display: flex;
  justify-content: space-between;
  width: 280px;
  border-top: 1px solid $color_7;
  border-bottom: 1px solid $color_7;
  padding: 22px 81px 21px 71px;
  margin-bottom: 22px;
}
