@font-face {
  font-family: "Oswald","Arial", sans-serif;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2");
  src: url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald","Arial",sans-serif;
  font-weight: 500;
  src: url("../fonts/oswaldmedium.woff2") format("woff2");
  src: url("../fonts/oswaldmedium.woff") format("woff");
}

* {
  box-sizing: inherit;

  &::before {
    box-sizing: inherit;
  }

  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body {
  @include body-reset;
}

.visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
