@import "var";
@import "mixin";
@import "normalize";
@import "fonts";
@import "global";
@import "visuallyhidden";
@import "./block/page-header";
@import "./block/main-navigation";
@import "./block/navigation-list";
@import "./block/page-main";
@import "./block/food";
@import "./block/food-promo";
@import "./block/food-list";
@import "./block/advantage";
@import "./block/example";
@import "./block/cooperation";
@import "./block/maps";
@import "./block/catalog-list";
@import "./block/program-selection";
@import "./block/page-footer";
@import "./block/social-icons";
@import "./block/copyrights";
