@import "normalize";
@import "var.scss";
@import "mixin.scss";
@import "global.scss";
@import "./block/page-header.scss";
@import "./block/main-navigation.scss";
@import "./block/navigation-list.scss";
@import "./block/page-main.scss";
@import "./block/food.scss";
@import "./block/food-promo.scss";
@import "./block/food-list.scss";
@import "./block/advantage.scss";
@import "./block/page-footer.scss";
@import "./block/social-icons.scss";
@import "./block/copyrights.scss";
