$width_mobile: 320px;
$width_tablet: "min-width: 768px";
$width_desktop: "min-width: 1300px";
$retina-dpi: "min-resolution: 144dpi";
$retina-dppx: "min-resolution: 1.5dppx";
$font-base: "Oswald", "Arial", sans-serif;
$font-additional: "Arial", "Verdana", sans-serif;
$color_1: #111111;
$color_2: #ffffff;
$color_3: #444444;
$color_4: #68b738;
$color_5: #f2f2f2;
$color_6: #e6e6e6;
$color_7: #d9d9d9;
$color_8: #cdcdcd;
$color_9: #222222;
$color_10: #dcdcdc;
$color_11: #ebebeb;
$color_12: #bababa;
$btn_hover: #5eaa2f;
$btn_active: rgba(255, 255, 255, 0.3);
$btn_show_all: rgba(68, 68, 68, 0.3);
$main_menu_hover: rgba(255, 255, 255, 0.6);
$main_menu_down: rgba(255, 255, 255, 0.3);
$main_menu_catalog_hover: rgba(17, 17, 17, 0.6);
$main_menu_catalog_active: rgba(17, 17, 17, 0.3);
$radio_hover: #bababa;
$radio_active: rgba(34, 34, 34, 0.3);
$input_error: #ff8282;
