$width_mobile: 320px;

$font-base: "Oswald", "Arial", sans-serif;
$font-additional: "Arial", sans-serif;

$color_1: #111111;
$color_2: #ffffff;
$color_3: #444444;
$color_4: #68b738;
$color_5: #f2f2f2;
$color_6: #e6e6e6;
$color_7: #d9d9d9;
$color_8: #cdcdcd;

