$width_mobile: 320px;

$nav-list-item: #e6e6e6;
$nav-list-link: #111111;

$food-promo-title: #ffffff;
$food-promo-description: #ffffff;
$food-link: #ffffff;
$bg-food-link: #68b738;
$bg-food-list-item: #f2f2f2;
$food-list-item: #444444;
$food-list-title: #111111;
$food-list-description: #d9d9d9;
$food-list-link: #111111;
$advantage-title: #111111;
$advantage-item: #111111;

$bg-advantage-item-before: #68b738;
$catalog-list-item: #e6e6e6;
$catalog-list-title: #111111;
$catalog-list-table: #444444;
$catalog-list-link: #ffffff;
$bg-catalog-list-link: #68b738;
$show-products-elem1: #111111;
$show-products-elem2: #444444;
$show-products-link: #444444;
$bg-show-products-link: #f2f2f2;

$bg-page-footer: #f2f2f2;
$social-icons: #d9d9d9;
$social-link-text: #444444;
